<div class="center jumbotron">
  <h1>Steve T's Blog</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
<div class="center bgvid">
<video autoplay width="100%" controls>
  <source src="http://steveleonard.net/video/ph2017-12-28.mp4" type="video/mp4">
</video>
</div>



